<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <img alt="Silhouette of mountains" src="https://material.angular.io/assets/img/examples/shiba2.jpg"/>
      <ion-card-header>
        <ion-card-title>Maria Alice Feitosa Nascimento</ion-card-title>
        <ion-card-subtitle>Turma: ADS0303N</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
  
</ion-content>
